name: Build and Push Vert.x image to ACR
on:
  push:
    branches:
      - main
jobs:
  build:
    name: 'Build and Push to ACR'
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Environment Variables
        env:
          COSMOS_END_POINT: ${{secrets.COSMOS_END_POINT}}
          COSMOS_KEY: ${{secrets.COSMOS_KEY}}

      - name: Docker Login
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.AZURE_URL }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build And Push to ACR
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ secrets.IMAGE_TAG }}
          file: Dockerfile